<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <title>Music Shop</title>
</head>
<body>
  <div class="container">
   <h3 >  New Music </h3>

    <form action="/musics" method="POST">
        <!--  this is a code to bring html form code to the current page. like a import.       -->
  <%- include('form_field') %>
    </form>
  </div>

  
</body>
</html>